html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Raleway;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    outline: none;
    box-sizing: inherit;
}

hr {
  width: 100px;
  margin-top: 30px;
}
