.Navbar {
    font-size: 20px;
    background-color:get-color('blue');
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.Navbar a {
    color: white;
    text-decoration: none;
}

.Navbar_item {
    padding: 0px 30px;
    height: 100%;
    display: flex;
    align-items: center;
}
